
body {
    height: 100vh;
    font-family: 'Aleo', serif;
}
.container {
    width: 100%;
}

.header {
    height: 6em;
    background-color: #03045e;
    color: white;
    display: flex;
    text-align: start;
    /* justify-content: center; */
    justify-items: center; 
    align-items: center;
    padding: 5px;
}
.nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: #0077b6;
    height: 50px;
    align-items: center;
  
}
.nav1 {
    color: white;
    text-decoration: none;
   
} 
 #login {
    margin-left: 18px;
} 
.medical {
    background-image: url("/MedicalLogo.png");
    height: 200px;
    width: 200px;
    grid-area: left;
    margin: 0 auto;
}
.welcome-intro {
    text-align: center;
    grid-area: left;
}
.welcome-header {
    padding: 0;
    margin: 0;
    grid-area:left;
    text-align: center;
}
.welcome-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: left;
}
.welcome-buttons1 {
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    width: 100px;
}
.welcome-buttons2 {
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.fas {
    margin: 10px;
    color: white;
}
.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

#main1 {
  
    /* display: flex;
    flex-direction: column; */
    display:grid;
    grid-template-columns: 60% 40%;    
    grid-template-areas: 
    "left" 
    "right";
    align-items: center;
    justify-content: space-evenly;
  
}
.main1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-areas: left;
    padding: 20px;
}
.main1-right {
    grid-template-areas: right;
}
.sidebar {
    background-color: lightgray;
}

.apt-search {
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
     border: 2px solid grey;
     padding: 20px;
}

.detail-form {
    border: 2px black solid;
    font-size: 12px;
    text-align: center;
}
.example-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form2-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

img {
    border-radius: 500px;
    height: 400px;
    width: 450px;
    background-position: center;
    padding: 30px;
}

.reports {
    text-align: center;
}
.administration {
    text-align: center;
 
}

#grid {
   padding: 20px;
}

#grid .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
    
}
#grid2 {
    padding: 20px;
 }
 #grid2 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
    
}
 #grid3 {
    padding: 20px;
 }
 #grid3 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid4 {
    padding: 20px;
}
#grid4 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid5 {
    padding:20px;
}
#grid5 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid6 {
    padding: 30px;
}
#grid6 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}

#grid7 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid8 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid9 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid10 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
#grid99 {
    padding: 30px;
}
#grid99 .k-toolbar.k-grid-toolbar {
    background-color: #0077b6;
}
 /* .k-tabstrip-items.k-reset {
    background-color: #0077b6;
    
}  */
/* .k-link {
    background-color: #0077b6 ;
  
} */
/* .k-panelbar>li.k-state-default>.k-link.k-tabstrip-items .k-state-default .k-link {
    color: white;
}.k-link, .k-tabstrip-items .k-state-default .k-link {
    color: white;
} */
#tabstrip {
    height: 800px;
    /* background-color: #0077b6; */
  
}
#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

#tabstrip h2 span {
    background: none;
    padding-left: 5px;
    font-size: .3em;
    vertical-align: top;
}

#tabstrip p {
    margin: 0;
    padding: 0;
}

#treeView {
    margin: 10px;
    
}
.login-button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    margin-left: 960px;
    padding: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }


