html {
    font-size: 14px;
}
body {
    height: 100vh;
}
.container {
    width: 100%;
}

.header {
    height: 6em;
    background-color: #03045e;
    color: white;
    display: flex;
    text-align: start;
    /* justify-content: center; */
    justify-items: center; 
    align-items: center;
    padding: 5px;
}
.nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: #0077b6;
    height: 50px;
    align-items: center;
  
}

.fas {
    margin: 10px;
    color: white;
}
.main-container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.main {
    width: 100%;
}
.sidebar {
    background-color: lightgray;
}

.apt-search {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
   border: 2px solid grey;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
