
body {
    height: 100vh;
    font-family: 'Aleo', serif;
}
.container {
    width: 100%;
}

.header {
    height: 6em;
    background-color: #03045e;
    color: white;
    display: flex;
    text-align: start;
    /* justify-content: center; */
    justify-items: center; 
    align-items: center;
    padding: 5px;
}
.nav {
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: #0077b6;
    height: 50px;
    align-items: center;
  
}
.nav1 {
    color: white;
    text-decoration: none;
   
} 
#login {
    margin-left: 800px;
}
.medical {
    background-image: url("/MedicalLogo.png");
    height: 200px;
    width: 200px;
    grid-area: left;
    margin: 0 auto;
}
.welcome-intro {
    text-align: center;
    grid-area: left;
}
.welcome-header {
    padding: 0;
    margin: 0;
    grid-area:left;
    text-align: center;
}
.welcome-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: left;
}
.welcome-buttons1 {
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    width: 100px;
}
.welcome-buttons2 {
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: #0077b6;
    border-radius: 10px;
    border: none;
    width: 100px;
}

.fas {
    margin: 10px;
    color: white;
}
.main-container {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

#main1 {
  
    /* display: flex;
    flex-direction: column; */
    display:grid;
    grid-template-columns: 60% 40%;    
    grid-template-areas: 
    "left" 
    "right";
    align-items: center;
    justify-content: space-evenly;
  
}
.main1-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-areas: left;
    padding: 20px;
}
.main1-right {
    grid-template-areas: right;
}
.sidebar {
    background-color: lightgray;
}

.apt-search {
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
     border: 2px solid grey;
     padding: 20px;
}

.detail-form {
    border: 2px black solid;
    font-size: 12px;
    text-align: center;
}
.example-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form2-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

img {
    border-radius: 500px;
    height: 400px;
    width: 450px;
    background-position: center;
    padding: 30px;
}

.reports {
    text-align: center;
}
.administration {
    text-align: center;
 
}

#grid {
   padding: 20px;
}
#grid2 {
    padding: 20px;
 }
 #grid3 {
    padding: 20px;
 }
#grid4 {
    padding: 20px;
}
#grid5 {
    padding:20px;
}
#grid6 {
    padding: 30px;
}
#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

#tabstrip h2 span {
    background: none;
    padding-left: 5px;
    font-size: .3em;
    vertical-align: top;
}

#tabstrip p {
    margin: 0;
    padding: 0;
}

#treeView {
    margin: 10px;
    
}